/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(211, 100%, 50%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.edit-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.edit-product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}

.edit-product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  background-color: white;
}

.edit-container-title {
  margin-top: 2rem;
  color: #333;
  text-align: center;
}

.edit-price-wrapper {
  display: flex;
  justify-content: space-between;
}
.edit-price-wrapper span {
  color: var(--clr-btn-red);
}

.edit-btn {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.remove-btn {
  padding: 8px 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #c82333;
}

/* --------EDIT NAV---------- */
.edit-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 10px;
}
.edit-nav-links {
  display: flex;
  text-align: center;
}
.edit-nav-link {
  color: white;
  text-decoration: none;
  width: fit-content;
}

.edit-nav-btn {
  padding: 0.5rem;
  background-color: var(--clr-btn-red);
  color: white;
  border-radius: 5px;
}

.devider {
  width: 1px;
  background-color: #fff;
  margin: 0 10px;
}

.edit-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

/* UPDATE FORM */

.update-container {
  font-weight: bold;
  max-width: 400px;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa; /* Light gray background */
}

.update-container label {
  display: block;
  margin-bottom: 5px;
}

.update-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-container button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.error.hidden {
  visibility: hidden;
}
.error {
  color: hsl(0, 100%, 45%);
}

input.invalid {
  border: 1px solid hsl(0, 100%, 45%);
}

:disabled {
  opacity: 0.5;
}
