/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(211, 100%, 50%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

/* Header */
.header {
  background-color: hsl(211, 100%, 50%);
  color: var(--clr-secondary-1);
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0.5rem 1rem;
  margin-bottom: 1px;
  position: relative;
}

.header-title {
  font-size: 2rem; /* Large title */
  line-height: 1;
  font-family: "Comic Sans MS", cursive;
  margin-top: 2rem;
}

.header-subtitle {
  font-size: 0.8rem;
  line-height: 1;
  font-style: italic;
  font-family: "Comic Sans MS", cursive;
  margin-top: 0.5rem;
}

.umbrella-icon {
  font-size: 3rem;
  position: absolute;
  left: 16rem;
  bottom: 0.7rem;
}

/*mobile first */

/* xs */
@media (min-width: 475px) {
  .header-title {
    font-size: 3rem;
  }

  .header-subtitle {
    font-size: 1.2rem;
  }

  .umbrella-icon {
    font-size: 4rem;
    left: 23rem;
    bottom: 0.7rem;
  }
}
