/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(196, 49%, 62%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.login-page {
  background-color: var(--clr-primary-1);
  height: 100dvh;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-secondary-1);
  border-radius: 10px;
  margin: 3rem 1rem;
  padding: 1rem 1rem 3rem;
  gap: 1rem;
}

.login-title {
  text-align: center;
}

.user-wrapper,
.password-wrapper {
  display: flex;
  flex-direction: column;
}

.login-btn {
  margin-top: 2rem;
}
