/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(196, 49%, 62%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.login-page {
  padding: 2rem;
}

.login-container {
  max-width: 400px;
  margin: 4rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form {
  margin-top: 20px;
}

.login-input {
  margin-bottom: 15px;
}

.login-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-error-message {
  color: red;
  margin: 15px 0 0 0;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-link {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #007bff;
}

.login-link:hover {
  text-decoration: underline;
}
