/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(196, 49%, 62%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
}

.product-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .product img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
} */

.product h2 {
  font-size: 1.2rem;
}

.product h3 {
  font-size: 1rem;
  color: #888;
}

.buy-btn,
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 1000px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.product button:hover {
  background-color: var(--clr-primary-1);
}

.product p {
  font-size: 1rem;
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
}

/*meadia queries */

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* md */
@media (min-width: 768px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* lg */
@media (min-width: 1024px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* xL */
@media (min-width: 1280px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
