/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(196, 49%, 62%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.search-wrapper {
  /* background-color: var(--clr-primary-1); */
  /* padding: 1rem 0 0 0; */
}
.search-wrapper input {
  width: 100%;
  padding: 0.5rem;
  border-width: 10px;
  border-color: var(--clr-primary-1);
  /* border-radius: 10px; */
}
