/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(211, 100%, 50%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

/*------------- CART-------------- */
.message-wrapper {
  padding: 1rem;
  text-align: center;
  background-color: #f7f7f7;
}

.message-cart-icon {
  font-size: 5rem;
  color: white;
  background-color: var(--clr-primary-1);
  padding: 2rem 4rem;
  border-radius: 1000px;
}

.message-title {
  font-size: 1.5rem;
  color: rgb(46, 46, 46);
  margin-top: 2rem;
}
.message-description {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: rgb(46, 46, 46);
}
.message-wrapper a {
  font-size: 1.4rem;
  color: var(--clr-primary-1);
}

.close-cart-wrapper,
.back-to-cart-wrapper {
  margin: 1rem;
  width: 100%;
}
.close-cart-link,
.back-to-cart-link {
  color: white;
  background-color: var(--clr-primary-1);
  text-decoration: none;
  padding: 0.4rem 0.7rem;
  border-radius: 1000px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.shopping-cart-title {
  text-align: center;
  margin-top: 2rem;
}

.cart-header {
  display: flex;
  width: 100%; /* Make sure items take full width */
}

.cart-header > *,
.cart-item > * {
  flex: 1;
  padding: 4px;
}

.cart-header > * {
  border-bottom: 1px solid black; /* Optional: Add border bottom */
  font-weight: bold;
}

/*-------------------------------- CART ITEM------------------------------ */
.cart-item {
  display: flex;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem 0;
  width: 100%;
  align-items: center;
}
.cart-item p {
  /* font-size: 1.2rem; */
}

.cart-item img {
  height: 3rem;
  margin-right: 0.5rem;
}

.image-title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.amount-wrapper {
  display: flex;
  align-items: center;
}

.amount-wrapper input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4rem;
}

.decrease-btn,
.increase-btn {
  padding: 0.4rem;
  cursor: pointer;
  border: none;
  /* font-weight: bolder; */
  /* font-size: 2rem; */
  border-radius: 4px;
  color: white;
}

.increase-btn {
  background-color: var(--clr-primary-1);
}

.decrease-btn {
  background-color: var(--clr-btn-red);
}

.delete-btn {
  background-color: var(--clr-btn-red);
  color: white;
  border-radius: 5px;
  flex: 0;
  padding: 0.3rem 0.8rem;
}

.checkout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #fff;
  justify-content: center;
}

.total-amount {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--clr-btn-red);
  font-weight: bold;
}

/*meadia queries */

/* xs */
@media (min-width: 475px) {
  .cart {
    max-width: 475px;
  }
  .cart-item {
    max-width: 475px;
  }
  .checkout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }
  .total-amount {
    margin-bottom: 0;
  }
}

/* sm */
@media (min-width: 640px) {
  .cart {
    max-width: 640px;
  }
  .image-title-wrapper {
    display: flex;
    align-items: center;
  }
  .image-title-wrapper {
    align-items: center;
    flex-direction: row;
  }
  .cart-item {
    max-width: 640px;
  }
  .cart-item p {
    font-size: 1.2rem;
  }
}

/* md */
@media (min-width: 768px) {
  .cart {
    max-width: 768px;
  }
  .cart-item {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .cart {
    max-width: 1024px;
  }
  .cart-item {
    max-width: 1024px;
  }
  .empty-cart-message {
    font-size: 2rem;
  }
}

/* xL */
@media (min-width: 1280px) {
  .cart {
    max-width: 1280px;
  }
  .cart-item {
    max-width: 1280px;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .cart {
    max-width: 1536px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cart-item {
    max-width: 1536px;
  }
}
