/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(211, 100%, 50%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

/*------------- CART-------------- */

.empty-cart-message {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  color: var(--clr-primary-1);
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  margin: 2rem;
}

.back-btn-wrapper {
  margin: 1rem;
}
.back-btn-wrapper svg {
  width: 30px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.shopping-cart-title {
  text-align: center;
  margin-top: 2rem;
}

.cart-header {
  display: flex;
  width: 100%; /* Make sure items take full width */
}

.cart-header > *,
.cart-item > * {
  flex: 1;
  padding: 4px;
}

.cart-header > * {
  border-bottom: 1px solid black; /* Optional: Add border bottom */
  font-weight: bold;
}

/*-------------------------------- CART ITEM------------------------------ */
.cart-item {
  display: flex;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem 0;
  width: 100%;
  align-items: center;
}

.cart-item img {
  height: 2rem;
}

.image-title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.amount-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align quantity buttons and input */
}

.amount-wrapper button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  color: var(--clr-white);
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 4px;
}

.amount-wrapper input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  /* margin: 0 5px; */
}
.decrease-btn {
  background-color: var(--clr-btn-red);
}
.increase-btn {
  background-color: var(--clr-btn-blue);
}

.delete-btn {
  background-color: var(--clr-btn-red);
  color: white;
  border-radius: 5px;
  flex: 0;
  padding: 0.3rem 0.8rem;
}

.checkout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #fff;
  justify-content: center;
}

.total-amount {
  /* margin: 1rem 0; */
  font-size: 1.2rem;
  color: var(--clr-btn-red);
  font-weight: bold;
}

/*meadia queries */

/* xs */
@media (min-width: 475px) {
  .cart {
    max-width: 475px;
  }
  .cart-item {
    max-width: 475px;
  }
  .checkout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }
}

/* sm */
@media (min-width: 640px) {
  .cart {
    max-width: 640px;
  }
  .image-title-wrapper {
    display: flex;
    align-items: center;
  }
  .image-title-wrapper {
    align-items: center;
    flex-direction: row;
  }
  .cart-item {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .cart {
    max-width: 768px;
  }
  .cart-item {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .cart {
    max-width: 1024px;
  }
  .cart-item {
    max-width: 1024px;
  }
  .empty-cart-message {
    font-size: 2rem;
  }
}

/* xL */
@media (min-width: 1280px) {
  .cart {
    max-width: 1280px;
  }
  .cart-item {
    max-width: 1280px;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .cart {
    max-width: 1536px;
  }
  .cart-item {
    max-width: 1536px;
  }
}
