/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(196, 49%, 62%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.sortbar {
  display: flex;
  /* justify-content: space-between; */
  justify-content: end;
  padding: 10px;
  background-color: var(--clr-secondary-1);
  gap: 1rem;
}

.sortbar select {
  margin-right: 0.5rem;
}

/*mobile first */

/* xs */
@media (min-width: 475px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}
