/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(211, 100%, 50%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.sortBar-container {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.7rem 1.5rem;
  background-color: hsl(211, 100%, 20%);
  gap: 1rem;
  flex-wrap: wrap;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
}

.select {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid hsl(211, 100%, 50%);
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.select-label {
  color: white;
  margin-right: 0.5rem;
}

.cart-icon {
  color: white;
  font-size: 1.3rem;
}

.total-count {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-left: 5px;
  font-size: 1.3rem;
}

/* xs */
@media (min-width: 475px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}
