/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(211, 100%, 50%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.sortbar {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
  padding: 0.7rem 1.5rem;
  background-color: hsl(211, 100%, 20%);
  gap: 1rem;
  align-items: center;
}

.sortBar-container {
  position: sticky;
  top: 0;
}

.sorting-wrapper {
  display: flex;
}

.sortbar select {
  margin-right: 0.5rem;
}
.sortbar label {
  color: white;
  margin-right: 0.5rem;
}

.cart-icon {
  color: white;
  font-size: 1.5rem;
}

.sortbar span {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-left: 7px;
  font-size: 1.5rem;
}

/* xs */
@media (min-width: 475px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}
