/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(196, 49%, 62%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.thanks-wrapper {
  background-color: var(--clr-primary-1);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-secondary-1);
}
.thanks-wrapper h1 {
  font-size: 3.5rem;
}
