/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(211, 100%, 50%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

.thanks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: var(--clr-primary-1);
  text-align: center;
  /* margin: 0.5rem 2rem; */
  border-radius: 3rem;
}
.checkmark-icon {
  font-size: 3rem;
  color: white;
  background-color: var(--clr-primary-1);
  padding: 1.5rem 3rem;
  border-radius: 1000px;
}
.thanks-wrapper h1 {
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1.5rem;
}
.thanks-wrapper p {
  /* font-size: 1.1rem; */
  font-style: italic;
}

.thanks-link-wrapper {
  padding: 1.5rem;
}
.thanks-link {
  color: white;
  background-color: var(--clr-primary-1);
  text-decoration: none;
  padding: 0.4rem 0.7rem;
  border-radius: 1000px;
}

@media (min-width: 461px) {
  .thanks-wrapper {
    margin-top: 3rem;
  }
  .thanks-wrapper h1 {
    font-size: 2rem;
  }
  .thanks-wrapper p {
    font-size: 1.2rem;
  }
}
