/* =============== 
Variables
===============
 */
:root {
  /* primary color */
  --clr-primary-1: hsl(211, 100%, 50%);
  --clr-btn-blue: hsl(248, 87%, 47%);
  --clr-btn-red: hsl(0, 87%, 47%);
  /* secondary color */
  --clr-secondary-1: hsl(48, 100%, 50%);
  --clr-white: hsl(0, 0%, 90%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  background-color: hsl(211, 100%, 97%);
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  /* Places underlines below the descenders */
  text-underline-position: under;

  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}
